<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxNrwVRZna1qp-kF5CUYLvJDKHSIPjSPI</string>
	<key>GCM_SENDER_ID</key>
	<string>946723271730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.championships</string>
	<key>PROJECT_ID</key>
	<string>championships-62446</string>
	<key>STORAGE_BUCKET</key>
	<string>championships-62446.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946723271730:ios:63e09b41c3a86c95f8f82b</string>
</dict>
</plist>